@import url('home.css');
@import url('post.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #18011bbb;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}


.blog-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    .blog-container {
        width: 90%;
        padding: 15px;
    }

    nav {
        display: flex;
        
        align-items: center;
    }

    nav a {
        display: block;
        padding: 8px;
        text-align: center;
        width: 100%;
    }

    .author {
        flex-direction: column;
        text-align: center;
    }

    .ost-list {
        font-size: 14px;
    }

    .comment-section textarea {
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .blog-container {
        width: 85%;
    }

    .ost-list {
        font-size: 16px;
    }

    .comment-section {
        text-align: center;
    }
}

@media screen and (min-width: 1025px) {
    .blog-container {
        width: 70%;
    }
}
